# https://docs.astro.build/en/guides/astro-db/#connect-a-libsql-database-for-production

# The connection URL to the location of your local or remote libSQL DB
ASTRO_DB_REMOTE_URL= 

# The auth token to your libSQL server. This is required for remote databases, and not needed for local DBs like files or in-memory databases
ASTRO_DB_APP_TOKEN= 