---
import "swiper/swiper-bundle.css";

// Import images directly
import slide1 from "@images/hpphoto1.jpg";
import slide2 from "@images/hpphoto2.jpg";
import slide3 from "@images/hpphoto3.jpg";
import slide4 from "@images/hpphoto4.jpg";
import slide5 from "@images/hpphoto5.jpg";

const slides = [
  {
    image: slide1,
    alt: "Slider image 1",
  },
  {
    image: slide2,
    alt: "Image 2",
  },
  {
    image: slide3,
    alt: "Image 3",
  },
  {
    image: slide4,
    alt: "Image 4",
  },
  {
    image: slide5,
    alt: "Image 5",
  },
];
---

<section
  class="p-0 full-screen ipad-top-space-margin position-relative overflow-hidden md-h-auto"
>
  <div class="container-fluid p-0 h-100 position-relative">
    <div class="row h-100 g-0">
      <div
        class="col-xl-5 col-lg-6 d-flex justify-content-center flex-column ps-10 xxl-ps-5 xl-ps-2 md-ps-0 position-relative order-2 order-lg-1"
      >
      <div class="vertical-title-center align-items-center w-75px justify-content-center position-absolute h-auto d-none d-md-flex">
        <div class="title fs-16 alt-font text-dark-gray fw-700 text-uppercase ls-05px text-uppercase" data-fancy-text='{ "opacity": [0, 1], "translateY": [50, 0], "filter": ["blur(20px)", "blur(0px)"], "string": ["新しい一歩を、ここから。"], "duration": 400, "delay": 0, "speed": 50, "easing": "easeOutQuad" }'></div>
    </div>
    <div class="border-start border-color-extra-medium-gray ps-60px ms-100px lg-ps-30px lg-ms-70px position-relative z-index-9 sm-ps-30px sm-pe-30px sm-ms-0 border-0" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
          <h1
            class="text-blue fw-600 alt-font outside-box-right-10 xl-outside-box-right-15 ls-minus-4px sm-ls-minus-4px md-me-0"
          >
            一生の友と、<br />一生の成長を
          </h1>
          <p class="w-80 mb-35px lg-w-100 sm-w-100 text-dark fw-400">
            次世代と共に歩む60年<br />
            キリストの愛を、<br />日本のキャンパスへ
          </p>
          <a
            href="/studentimpact"
            class="btn alt-font btn-extra-large btn-gradient-fuel-yellow-blue fw-400"
            ><i class="bi bi-vector-pen mx-1" />お問い合わせ</a
          >
        </div>
      </div>
      <div
        class="col-xl-7 col-lg-6 position-relative swiper-number-pagination-progress md-h-800px order-1 order-lg-2 md-mb-50px"
      >
        <div
          class="swiper h-100 banner-slider"
          data-slider-options='{ "slidesPerView": 1, "loop": true, "pagination": { "el": ".swiper-number-line-pagination", "clickable": true }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "autoplay": { "delay": 4000, "stopOnLastSlide": true, "disableOnInteraction": false },"keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "fade" }'
          data-swiper-number-pagination-progress="true"
        >
          <div class="swiper-wrapper">
            {
              slides.map((slide) => (
                <div class="swiper-slide">
                  <div
                    class="position-absolute left-0px top-0px w-100 h-100 cover-background background-position-center-top"
                    style={`background-image:url(${slide.image.src});`}
                  />
                </div>
              ))
            }
          </div>
          <!-- start slider pagination -->
          <div
            class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets d-block d-sm-none"
          >
          </div>
          <!-- end slider pagination -->
        </div>
        <!-- start slider navigation -->
        <!-- start slider pagination -->
        <div
          class="swiper-pagination-wrapper d-none d-lg-flex align-items-center justify-content-center position-absolute bottom-40px md-bottom-30px sm-bottom-20px left-minus-45 md-left-30px sm-left-20px z-index-9"
        >
          <div class="number-prev fs-14 fw-600 text-dark-gray"></div>
          <div class="swiper-pagination-progress bg-extra-medium-gray">
            <span class="swiper-progress"></span>
          </div>
          <div class="number-next fs-14 fw-600 text-dark-gray"></div>
        </div>
        <!-- end slider pagination -->
      </div>
    </div>
  </div>
</section>
<style>
  h1 {
    font-size: 3rem;
    letter-spacing: 1cap;
    line-height: 5rem;
  }
  p {
    letter-spacing: 0.3cap;
  }

  /* Ensure background images maintain the right aspect ratio and cover */
  :global(.swiper-slide .cover-background) {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
</style>
