---

// Content for the section title and subtitle
const title =
  '60年の実績を次世代へ。';
const subTitle =
  "あなたのサポートが学生たちの人生を変える";

// Call-to-action configuration for the primary button
const primaryCTA = { text: "ご支援", href: "/partner" };
---

<section
  class="bg-medium-gray"
>
  <div class="mx-auto mb-10 max-w-3xl text-center lg:mb-14">
    <h4
      class="text-dark-gray fw-400 alt-font"
    >
      <Fragment set:html={title} />
    </h4>
    <p class="mt-1 text-dark-gray fw-400">
      <Fragment set:html={subTitle} />
    </p>
    <a
      href={primaryCTA.href}
      classs="btn btn-large btn-base-color">{primaryCTA.text}</a
    >
  </div>
</section>
