---
import AnnouncementBanner from "@common/AnnouncementBanner.astro";
import HeroContent from "@common/HeroContent.astro";
import HeroVideo from "@common/HeroVideo.astro";
---

<section class="bg-linear-to-b/oklch from-teal-200 via-transparent to-white">
  <div class="mx-auto max-w-[85rem] space-y-8 px-4 pb-12 pt-48 sm:px-6 lg:px-8">
    {/* Announcement Banner */}
    <AnnouncementBanner />

    {/* Hero Content */}
    <HeroContent />

    {/* Hero Visual */}
    <HeroVideo />
  </div>
</section>
