---
import Downloads from "@megaMenu/Downloads.astro";
import Support from "@megaMenu/Support.astro";
import Platform from "@megaMenu/Platform.astro";
import Features from "@megaMenu/Features.astro";
import Button from "@ui/Button.astro";
import { navigationLinks } from "@utils/navigation";

const currentPath = Astro.url.pathname;

// Call-to-action configuration for the primary button
const primaryCTA = { text: "Try Free", href: "https://github.com/mearashadowfax/DataNova" };
---

<header
  class="fixed start-1/2 top-5 z-50 mx-auto flex w-full max-w-sm -translate-x-1/2 transform flex-wrap rounded-2xl border-b border-slate-100 bg-white bg-linear-to-t/oklch from-teal-100 via-transparent to-white p-4 shadow-xs sm:max-w-xl md:max-w-4xl md:flex-nowrap md:justify-start lg:max-w-5xl xl:max-w-6xl xl:shadow-none xl:ring-teal-950/5 2xl:max-w-[81rem] 2xl:via-0%"
>
  <nav
    class="relative mx-auto w-full px-4 py-2 sm:px-6 lg:px-8 xl:flex xl:max-w-7xl xl:items-center xl:justify-between xl:gap-3 2xl:max-w-[85rem]"
  >
    <div class="flex items-center justify-between gap-x-1">
      <a
        class="dm-sans flex-none text-2xl font-light text-slate-400 focus:opacity-80 focus:outline-hidden"
        href="/"
        aria-label="DataNova Logo"
        translate="no"
        ><span class="font-semibold text-teal-700">Data</span>Nova</a
      >

      <button
        type="button"
        class="hs-collapse-toggle relative flex size-9 items-center justify-center rounded-lg border border-slate-200 text-[12px] font-medium text-slate-800 hover:bg-slate-100 focus:bg-slate-100 focus:outline-hidden xl:hidden"
        id="hs-header-base-collapse"
        aria-expanded="false"
        aria-controls="hs-header-base"
        aria-label="Toggle navigation"
        data-hs-collapse="#hs-header-base"
      >
        <svg
          class="size-4 hs-collapse-open:hidden"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><line x1="3" x2="21" y1="6" y2="6"></line><line
            x1="3"
            x2="21"
            y1="12"
            y2="12"></line><line x1="3" x2="21" y1="18" y2="18"></line></svg
        >
        <svg
          class="hidden size-4 shrink-0 hs-collapse-open:block"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg
        >
        <span class="sr-only">Toggle navigation</span>
      </button>
    </div>

    <div
      id="hs-header-base"
      class="hs-collapse hidden grow basis-full overflow-hidden transition-all duration-300 xl:ml-12 xl:block 2xl:ml-20"
      aria-labelledby="hs-header-base-collapse"
    >
      <div
        class="max-h-[75vh] overflow-hidden overflow-y-auto [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-slate-300 [&::-webkit-scrollbar-track]:bg-slate-100 [&::-webkit-scrollbar]:w-2"
      >
        <div
          class="flex flex-col gap-0.5 py-2 xl:flex-row xl:items-center xl:gap-1 xl:py-0"
        >
          <div class="grow">
            <div
              class="flex flex-col gap-0.5 xl:flex-row xl:items-center xl:justify-evenly xl:gap-1"
            >
              <a
                href="/"
                class={`flex items-center rounded-lg p-2 font-medium text-slate-800 hover:bg-slate-100 focus:bg-slate-100 focus:outline-hidden ${
                  currentPath === "/" ? "underline underline-offset-4" : ""
                }`}
                aria-current={currentPath === "/" ? "page" : undefined}
              >
                Home
              </a>

              <Features />

              <Platform />

              <Downloads />

              <Support />

              {
                navigationLinks.map((link) => (
                  <a
                    href={link.href}
                    class={`flex items-center rounded-lg p-2 font-medium text-slate-800 hover:bg-slate-100 focus:bg-slate-100 focus:outline-hidden ${
                      currentPath === link.href
                        ? "underline underline-offset-4"
                        : ""
                    }`}
                    aria-current={
                      currentPath === link.href ? "page" : undefined
                    }
                  >
                    {link.label}
                  </a>
                ))
              }
            </div>
          </div>

          <div
            class="mt-5 flex flex-wrap items-center gap-x-1.5 xl:ml-6 xl:mt-0"
          >
            <Button
              href={primaryCTA.href}
              variant="primary"
              target="_blank"
              className="inline-flex text-nowrap border-none py-2!"
              >{primaryCTA.text}</Button
            >
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", async () => {
    const preline = await import("preline/preline.js");
    preline.HSStaticMethods.autoInit();
  });
</script>
