---
import BaseLayout from "@layout/BaseLayout.astro";
---

<BaseLayout>
  <h1>About Page</h1>

  <h1>About Page</h1>
  <h1>About Page</h1>
  <h1>About Page</h1>
  <h1>About Page</h1>
  <h1>About Page</h1>
  <h1>About Page</h1>
  <h1>About Page</h1>
  <h1>About Page</h1>
  <h1>About Page</h1>
  <h1>About Page</h1>
  <h1>About Page</h1>
</BaseLayout>
