---
import Icon from "@ui/icons/Icon.astro";
const { address, phone, email, website } = Astro.props;
---

<div>
  <h3 class="font-semibold text-slate-700">Contact Us</h3>
  <ul class="mt-3 space-y-2 text-sm text-slate-600">
    <li>DataNova Analytics Inc.</li>
    <li>{address}</li>
    <li class="flex items-center gap-x-2">
      <Icon name="mobile" />
      <a
        href={"tel:+" + phone.replace(/[^+\d]/g, "")}
        class="transition-colors duration-300 hover:text-slate-500">{phone}</a
      >
    </li>
    <li class="flex items-center gap-x-2">
      <Icon name="email" />
      <a
        href={"mailto:" + email}
        class="transition-colors duration-300 hover:text-slate-500">{email}</a
      >
    </li>
    <li class="flex items-center gap-x-2">
      <Icon name="world" />
      <a
        href={"https://" + website}
        class="transition-colors duration-300 hover:text-slate-500">{website}</a
      >
    </li>
  </ul>
</div>
